
<!--footer-->
<div class="layui-footer" kit-footer="true">
   心怡康
    <div style="width:400px; height:400px;" class="load-container load1">
        <div class="loader">心怡康</div>
    </div>
</div>
{js href='/static/webadmin/layui/polyfill.min.js'}
{js href='/static/webadmin/layui/layui.js'}
{js href='/static/webadmin/layui/kitadmin.js'}
{js href='/static/webadmin/layui/mockjs-config.js'}
{js href='/static/webadmin/layui/echarts.min.js'}
<script>layui.use("admin");</script>
{js href='/static/webadmin/layui/lay/modules/jquery.js'}
