<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-sm7">
      <div class="layui-card">

        <!--<div class="layui-card-header">数据表格-> 文档请参考：-->
          <!--<a href="http://wable.html" target="_blank">-->
            <!--<span>http://www.layui.com/doc/modules/table.html</span>-->
          <!--</a>-->
          <!-- -&#45;&#45;&#45;&#45;-->
          <!--<a href="http/demo/table.html" target="_blank">-->
            <!--<span></span>-->
          <!--</a>-->
        <!--</div>-->

        <div class="layui-card-body">
          <div class="layui-card-header">
            <!-- <span>所有会员列表</span> -->
            <a href="#/xyk/addmenu" class="layui-btn layui-btn-xs">
              <i class="layui-icon">&#xe654;</i>
              <span>新增</span>
            </a>
            <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary" id="search_hash">
              <i class="layui-icon">&#xe615;</i>
            </a>
          </div>
          <div class="layui-card-body">

            <table lay-filter="demo"  lay-data="{page:true}" >

              <thead>


              <tr>

                <th lay-data="{field:'id', width:100, sort:false}">(编号id)</th>

                <th lay-data="{field:'title', width:200}">菜单名称</th>

                <th lay-data="{field:'url', width:300}">跳转链接</th>

                <th lay-data="{field:'操作', width:100}">操作</th>

              </tr>

              </thead>

              <tbody>
              {if !empty($menu)}
              {foreach $menu as $vo}
              <tr>
                <td>{$vo.id}</td>
                <td><span style="color: #939393;">{$vo.html}</span>{$vo.title}</td>
                <td>{$vo.url}</td>
                <td>
                  <a href="#/xyk/addmenu?id={$vo.id}" class="point"><i class="layui-icon" title="编辑数据">&#xe642;</i></a>
                  <a href="javascript:;" data-ids="112" data-url="{:url('index/menu')}" id="delMenu"><i  class="layui-icon" title="删除数据">&#xe640;</i></a>
                </td>
              </tr>
              {/foreach}
              {/if}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{include file="./xyk/include/layui_init"/}